@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.linkButton {
    width: auto;
    height: 100%;
    background-color: #f0f0f0;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.linkButton:hover {
    background-color: #eaeaea;
    border-bottom-style: solid;
    border-bottom-color: #606060;
    border-bottom-width: 2px;
    border-top-style: none;
}

.linkButton:active{
    background-color: #dadada;

}

.linkButton,
.linkButton:active,
.linkButton:focus {
    outline: none;
}

.linkDescription {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



