@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#searchHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-top: -1%;
}

#search{
    margin-top: 2%;
    margin-bottom: 3%;
}

.list{
    text-align: center;
}

#plusButton {
    width: auto;
    height: auto;
    padding: 4px;
    border-style: none;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 1%;
    font-size: 16px;
}

#plusButton,
#plusButton:focus,
#plusButton:active {
    outline: none;
}

#plusButton:hover {
    background-color: #e0e0e0;
}