@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.meeting, .patient, .info {
    width: auto;
    text-align: center;
}

#header{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 5%;
}

#text, #date, #clinicDesc{
    text-align: left;
    margin: auto;
    max-width: 50%;
    border-style: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1%;
    word-wrap: break-word;
}

#clinicDesc {
    max-width: 90%;
    min-height: 300px;
    text-align: left;
}

#images {
    margin-top: 3%;
    display: inline-block;
    width: 95%;
}

.photo {
    transition: 1s;
    width: 40%;
    margin-right: 5%;
}

.photo:hover {
    transform: scale(3);
}

#add {
    margin-left: 4%;
    width: auto;
    height: auto;
    padding: 4px;
    border-style: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

#add,
#add:focus,
#add:active {
    outline: none;
}

#add:hover {
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}